@media screen and (max-width:692px){
    .web{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
        margin-top: 200px;
    }

    .linha{
        flex-direction: column;
        gap: 20px;
    }
    .linha hr{
        transform: rotate(0deg);
    }
    .paragrafo{
        width: 50%;
    }
    .projects{
        flex-direction: column;
    }
    section{
        margin-top: 70px;
    }

    .redes{
        flex-direction: row;
    }

    .imgPerfil{
        margin-bottom: 15px;
    }

    .menu{
        background: #222525;
        flex-direction: column;
        gap: 10px;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 20px;
    }

    .menuFixo{
        display: none;
    }

    .logan{
        position: absolute;
        left: 40%;
        top: 10px;
    }
    .menus{
        display: none;
    }

    .icon{
        position: absolute;
        right: 40px;
        margin-top: 10px;
        display: flex;
    }

    .menus.responsive{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 150px;
        padding: 10px;
        gap: 10px;
        background: #222525;
    }
    .menus a{
        display: block;
        padding: 10px;
    }

    .img img{
        width: 300px;
    }

    .sectionPro{
        margin-top: 120px;
    }
}
