*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: #041F31;
    width: 100%;
}

header{
    background: #222525;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


header a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 6px;
    color: #BDEBEA;
}


.menus{
    display: flex;
    align-items: center;
}

.menus a{
    padding: 15px;
}
.menus a:hover{
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    color: rgb(24, 23, 23);
}

/*icone do menu*/
.icon{
    position: absolute;
}
.icon div{
    display: none;
    width: 25px;
    height: 3px;
    background-color: #BDEBEA;
    border-radius: 8px;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.13, 0.24, 0.35, 1.64);
}

.icon .line1, .icon .line2{
    margin-bottom: 5px;
}

.icon.active .line1{
    transform: translate(0, 6px) rotate(45deg);
}

.icon.active .line2{
    transform: translateX(-55px);
}

.icon.active .line3{
    transform: translate(0,-10px) rotate(-45deg);
}
/*-----------------*/
.button{
    border-radius: 1.85px;
    padding: 5px;
    color: rgb(24, 23, 23);

    /* gradient */
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    border-radius: 1.87917px;
    }

section{
    width: 100%;
}


.web{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 100%;
}

.text{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 12px;
}

.name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 27px;
    
    /* gradient */
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.paragrafo{
    width: 320px;
    height: 22.2px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    color: #BDEBEA;
}
.imgPerfil{
    width: 200px;
    border-radius: 50%;
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    animation-name: animaFoto;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    padding: 10px;
}

.redes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.iconRedes{
    width: 25px;
}
.img img{
    width: 400px;
}

.arrow{
  display: flex;
  justify-content: center;
}

.arrow img{
    width: 20px;
    opacity: 0;
    animation:anima-seta 700ms ease infinite;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    height: 400px;
}
.title{
    height: 8.02px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 10px;
    /* or 108% */
    letter-spacing: 0.04em;
    /* title */
    color: #BDEBEA;
}



.linha{
    display: flex;
    width: 100%;
    gap: 10px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}
.linha hr{
    width: 85px;
    height: 1.54px;
    /* gradient */
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    border-radius: 0.626389px;
    transform: rotate(-90deg);
}

.linha p{
    margin-top: -40px;
    text-align: justify;
}

.sectionPro{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    gap: 15px;
}
.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 28%;
    background-color: #222525;
    padding: 10px;
    border-radius: 7px;
}

.card:hover{
    cursor: pointer;
}


.card img{
    width: 100%;
}

.CardSkill{
    display: flex;
    gap: 10px;
    padding: 5px;
    flex-wrap: wrap;
}

.CardSkill p:hover{
    cursor: pointer;
}

.CardParagraf{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    text-align: justify;
    padding: 10px;
    color: #BDEBEA;
}

.SectionSkills{
    display: flex;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: 300px;
}

.CardSkills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}


.skill img{
    width: 80px;
}

.skill img:hover{
    cursor: pointer;
    margin-top: -10px;
}

.skill p{
    color: #BDEBEA;
    font-size: 10px;
}

footer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222525;
    gap: 10px;
    height: 80px;
}

.contatos{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/*Animações*/

@keyframes anima-seta {
    to {
        opacity:1;
        transform: translateY(18px);
    }
}
